.parallax{
    width: 100%;
    background: #fff no-repeat 50% 50%;
    height: 32rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/Canas.jpg');
}


.justifyText{
    text-align : justify;
}

